[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvxpy = "*"
yfinance = "*"
tensorflow = "*"
django-cors-headers = "*"
djangorestframework = "*"
django = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.11"
